<div class="container" style="margin-top: 70px">
  <div class="row">
    <div class="col-sm-12">
      @for (movie of movies_list; track movie.name) {
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">
            {{ movie.tconst }}
            {{ movie.titleType }}
            {{ movie.primaryTitle }}
          </div>
          <div class="card-body">
            {{ movie.originalTitle }}
            {{ movie.isAdult }}
            {{ movie.startYear }}
            {{ movie.endYear }}
            {{ movie.runtimeMinutes }}
            {{ movie.genres }}
          </div>
          <div class="card-footer">
            {{ movie.reviews }}
            <span *ngFor="let star of [].constructor(movie.averageRating)">
              <img src="../public/images/png.png" alt="png"
                   style="width:30px; height:30px">
            </span>
          </div>
        </div>
      }
    </div>
  </div>
</div>

